@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 0%;
  --foreground: 0 0% 98%;
  --border: 0 0% 100% / 0.1;
  --radius: 1rem;
}

* {
  border-color: hsl(var(--border));
}

html,
body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

body {
  margin: 0;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
